/* Round main menu */
.mainmenu_Menu_23IDi {
    border-radius: 0px var(--custom-Main-Menu-Radius) var(--custom-Main-Menu-Radius) 0px !important;
}

/* Round main menu animation */
.mainmenu_Open_3apLK {
    border-radius: 0px var(--custom-Main-Menu-Radius) var(--custom-Main-Menu-Radius) 0px !important;
}

/* Fixes occasional animation bug when rounding main menu */
.mainmenu_Container_3vzvO {
    border-radius: 0px var(--custom-Main-Menu-Radius) var(--custom-Main-Menu-Radius) 0px !important;
}