.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu {
    border-style: solid;
    border-image: var(--capyQAM_toggleColor) 1; /* for gradient defined toggle */
    border-color: var(--capyQAM_toggleColor);
    border-width: 0 0 6px 0;
}