/* ---
CapyMenu QAM
v2.1
By Capybara / Kalyvara

Friends
--- */



/* ---
General tweaking
--- */



.GamepadMode.friendlist, .GamepadMode.friendlist .FriendsListSteamDeckTabs {
    background: none;
}

/* Header shadow on focus removal */
.friendlist.GamepadMode.gpfocuswithin .FriendsListSteamDeckTopSection {
    box-shadow: none;
}

/* Title header */
.GamepadMode.friendlist .TabPanelHeader {
    color: var(--capyQAM_mainTextColor) !important;
}

/* Tabs bar icons */
.GamepadMode.friendlist .FriendsListTab svg {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.3);
    /* border-radius: 8px; */
}

/* Active tabs bar icon */
.GamepadMode.friendlist .FriendsListTab.Active svg {
    background: none;
    color: var(--capyQAM_mainTextColor);
    filter: opacity(1);
    box-shadow: none;
}

/* Icon in tabs bar, selected */
.FriendsListTab.gpfocus.gpfocuswithin svg path {
    color: var(--capyQAM_hl_mainTextColor);
    filter: opacity(1);
}

/* L1, R1 buttons in tabs bar - credits to GrodanBool (Outrun Theme), tweaked */
.friendslist_TabBumper_3Jr0A.GamepadMode svg path:first-of-type, .GamepadMode .friendslist_TabBumper_3Jr0A svg path:first-of-type {
    stroke: var(--capyQAM_mainTextColor); /* Buttons outline */
}
.friendslist_TabBumper_3Jr0A.GamepadMode svg path, .GamepadMode .friendslist_TabBumper_3Jr0A svg path {
    fill: var(--capyQAM_mainTextColor); /* Buttons label */
}

/* Header buttons in friends and chat groups */
.FriendActionsContainer .friendListButton { /* Friends tab */
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}
.FriendActionsContainer.gpfocuswithin .friendListButton.gpfocus.gpfocuswithin {
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}

.FriendActionsContainer .NewChatGroupButton { /* Group chats tab */
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}
.FriendActionsContainer.gpfocuswithin .NewChatGroupButton.gpfocus.gpfocuswithin {
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}

/* Border on top of Friend section's header */
.friendListHeaderContainer.GamepadMode, .GamepadMode .friendListHeaderContainer {
    visibility: hidden;
}

/* Removing friends list + recent chats top border */
.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends.GamepadMode, .GamepadMode .FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
    border-top: none; /* Offline */
}
.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends.GamepadMode, .GamepadMode .FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
    border-top: none; /* Online */
}
.recentchatssteamdeck_RecentChatsList_2-4f0 .recentchatssteamdeck_RecentChatElement_1-Coz {
    border-top: none; /* Recent chats */
}

/* Unread Messages text in Friends, Recent Chats */
.recentChatsGroup .friendGroup .groupName, .friendGroup.taggedGroup .groupName, .friendGroup.gameGroup .groupName {
    color: var(--capyQAM_mainTextColor);
    font-weight: bold;
}

/* Unread Messages banner */
.unreadMessageViolator {
    background: var(--capyQAM_notifDot);
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

/* Unread Messages count within Friends tab  */
.ChatRoomListGroupItem .FriendMessageCount.GamepadMode, .GamepadMode .ChatRoomListGroupItem .FriendMessageCount, .unreadFriend .FriendMessageCount.GamepadMode, .GamepadMode .unreadFriend .FriendMessageCount {
    background: var(--capyQAM_notifDot);
    box-shadow: none;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

/* Unread Messages count in tabs list */
.friendslist_RecentChatIcon_2mQc_ .friendslist_UnreadAlert_1RSzq.GamepadMode, .GamepadMode .friendslist_RecentChatIcon_2mQc_ .friendslist_UnreadAlert_1RSzq {
    background: var(--capyQAM_notifDot);
    box-shadow: none;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

/* Empty chatroom text */
.GroupChats .ChatRoomList_Empty {
    color: var(--capyQAM_mainTextColor);
}

/* Chatroom avatar */
.ChatRoomListGroupItem .ChatRoomGroupAvatar.GamepadMode, .GamepadMode .ChatRoomListGroupItem .ChatRoomGroupAvatar {
    border-width: 0;
    width: 36px;
    height: 36px;
    background: var(--capyQAM_ddButtonBg);
    box-shadow: none;
}

/* Chatroom avatar text */
.ChatRoomGroupAvatar_initials {
    background: var(--capyQAM_ddButtonText); /* text color is handled by this property */
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: none;
    padding-top: 8px;
}



/* ---
Label entries, background highlights
--- */



.friendCategoryContainer .friend.gpfocus.gpfocuswithin, /* Friends tab */
.favoriteElement.gpfocus.gpfocuswithin, /* Favorites tab */
.RecentMessagesTabList.FriendsListTabPanel.gpfocuswithin .friend.gpfocuswithin, /* Recent chats tab */
.GroupsTabList.gpfocuswithin .ChatRoomListGroupItem.gpfocus.gpfocuswithin, /* Group chats */
.recentchatssteamdeck_RecentChatElement_1-Coz.gpfocus.gpfocuswithin, /* Recent chats */
.friendlistListContainer .listContentContainer .DropTarget.friendGroup.gameGroup .groupName.gpfocus.gpfocuswithin, /* Friends' game running */
.groupHeaderContainer.gpfocuswithin .SortByRecent, /* Friends tab, sort icon */
.friendsContainer .friend.gpfocus.gpfocuswithin, .groupHeaderContainer.gpfocuswithin .groupName.gpfocus.gpfocuswithin /* Friends tab, category header */ {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity)) !important;
}



/* ---
Label entries, text and svg elements, regular
--- */



/* Online, friend name in all tabs */
.GamepadMode .online .personanameandstatus_playerName_r62qz,
.GamepadMode .ingame .personanameandstatus_playerName_r62qz,
.GamepadMode .online .personanameandstatus_richPresenceLabel_1k82N,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N,
.friendsnooze_SnoozeZ_1DArl.friendsnooze_Z1_1OyrT,
.friendsnooze_SnoozeZ_1DArl.friendsnooze_Z2_1mx4k,
.friendsnooze_SnoozeZ_1DArl.friendsnooze_Z3_1ltvK /* Away zzz */ {
    text-shadow: .5px .5px 0px rgba(0, 0, 0, 0.6) !important;
}

/* Online category in Friends tab */
.DropTarget.friendGroup.onlineFriends .groupName {
    color: var(--capyQAM_mainTextColor) !important;
}

/* Offline category in Friends tab */
.DropTarget.friendGroup.offlineFriends .groupName {
    color: var(--capyQAM_mainTextColor) !important;
}

/* Category count in Friends tab */
.DropTarget.friendGroup .groupHeaderContainer .groupName .groupCount {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

/* Chatroom entry */
.GroupsTabList .ChatRoomListGroupItem .chatRoomName {
    color: var(--capyQAM_mainTextColor);
}

/* Group chat entry details */
.recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem .chatRoomName, .recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem .lastChatMessage,
.recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem .ChatRoomListGroupItem_header .recentchatssteamdeck_Time_20ewu {
    color: var(--capyQAM_mainTextColor) !important;
}

/* Last message and time in Recent Chats tab */
.friendslist_LastMessage_3HNwU, .recentchatssteamdeck_Time_20ewu {
    color: var(--capyQAM_mainTextColor) !important;
    filter: opacity(0.6);
    text-shadow: none !important;
}

/* Friends' game running */
.friendlistListContainer .listContentContainer .DropTarget.friendGroup.friendGroup.gameGroup .groupName {
    color: var(--capyQAM_mainTextColor) !important;
}

/* Offline, rich presence status */
.friendCategoryContainer .friend.offline .personanameandstatus_richPresenceContainer_2nrSd .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N, /* Friends tab */
.FavoritesTabList.gpfocuswithin .favoriteElement .friend.offline .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N /* Favorites tab */ {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.9);
    text-shadow: none !important;
}

/* Offline rich presence in Favorites, unfocused */
.offline .personanameandstatus_richPresenceLabel_1k82N {
    color: var(--capyQAM_mainTextColor);
}

/* Offline, friend name in all tabs */
.friendCategoryContainer .friend.offline .personanameandstatus_playerName_r62qz, /* Friends tab */
.favoriteElement .friend.offline .personanameandstatus_playerName_r62qz, /* Favorites tab */
.recentchatssteamdeck_RecentChatsList_2-4f0 .friend.offline .personanameandstatus_playerName_r62qz /* Recent chats */ {
    color: var(--capyQAM_mainTextColor);
    text-shadow: none !important;
}

/* Sort icon in Friends tab */
.groupHeaderContainer .SortByRecent svg .alphabet, .groupHeaderContainer .SortByRecent svg .time, .groupHeaderContainer .SortByRecent svg .Arrow {
    stroke: var(--capyQAM_mainTextColor);
}



/* ---
Label entries, text and svg elements, highlights
--- */



/* Friends' game running */
.friendlistListContainer .listContentContainer .DropTarget.friendGroup.gameGroup .groupName.gpfocus.gpfocuswithin {
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Chatroom entry */
.GroupsTabList.gpfocuswithin .ChatRoomListGroupItem.gpfocus.gpfocuswithin .chatRoomName {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Last message and time in Recent Chats tab */
.friend.recentchatssteamdeck_RecentChatElement_1-Coz.gpfocus.gpfocuswithin .friendslist_LastMessage_3HNwU,
.friend.recentchatssteamdeck_RecentChatElement_1-Coz.gpfocus.gpfocuswithin .recentchatssteamdeck_Time_20ewu {
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Group chat entry details */
.recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem.gpfocus.gpfocuswithin .chatRoomName, .recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem.gpfocus.gpfocuswithin .lastChatMessage,
.recentchatssteamdeck_RecentChatElement_1-Coz.ChatRoomListGroupItem.gpfocus.gpfocuswithin .ChatRoomListGroupItem_header .recentchatssteamdeck_Time_20ewu {
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Category header in Friends tab */
.friendsContainer .friend.gpfocus.gpfocuswithin,
.groupHeaderContainer.gpfocuswithin .groupName.gpfocus.gpfocuswithin {
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Category count in Friends tab */
.DropTarget.friendGroup .groupHeaderContainer.gpfocuswithin .groupName.gpfocus.gpfocuswithin .groupCount {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Offline, friend name in all tabs */
.friendCategoryContainer .friend.offline.gpfocus.gpfocuswithin .personanameandstatus_playerName_r62qz, /* Friends tab */
.favoriteElement.gpfocus.gpfocuswithin .friend.offline .personanameandstatus_playerName_r62qz, /* Favorites tab */
.recentchatssteamdeck_RecentChatsList_2-4f0 .friend.offline.gpfocus.gpfocuswithin .personanameandstatus_playerName_r62qz /* Recent chats */ {
    color: var(--capyQAM_hl_mainTextColor);
    text-shadow: none !important;
}

/* Offline, rich presence status */
.friendCategoryContainer .friend.offline.gpfocus.gpfocuswithin .personanameandstatus_richPresenceContainer_2nrSd .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N, /* Friends tab */
.FavoritesTabList.gpfocuswithin .favoriteElement.gpfocus.gpfocuswithin .friend.offline .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N /* Favorites tab */ {
    color: var(--capyQAM_hl_mainTextColor);
    text-shadow: none !important;
}

/* Sort icon in Friends tab */
.groupHeaderContainer.gpfocuswithin .SortByRecent.gpfocus.gpfocuswithin svg .alphabet,
.groupHeaderContainer.gpfocuswithin .SortByRecent.gpfocus.gpfocuswithin svg .time,
.groupHeaderContainer.gpfocuswithin .SortByRecent.gpfocus.gpfocuswithin svg .Arrow {
    stroke: var(--capyQAM_hl_mainTextColor);
}