/* ---
CapyMenu QAM
v2.1
By Capybara / Kalyvara

Notifications

Latest Steam client update implemented new CSS classes, some UI components may be missing due to non-optimal testing conditions
--- */



/* No new notifications text */
.quickaccesscontrols_EmptyNotifications_1g1_n {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}



/* ---
Notification containers (items/labels)
--- */



/* New notification indicator */
.standardtemplates_NewIndicator_3aotN {
    filter: none; /* removes glow */
}
.standardtemplates_NewIndicator_3aotN svg {
    width: 8px;
    height: 8px;
    color: var(--capyQAM_notifDot);
}

/* Background, selected */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
    /* animation-name: standardtemplates_ItemFocusAnim-darkerGrey_3uRWs; */
}

/* Notification title & icon, regular */
.standardtemplates_StandardTemplateContainer_1adpx .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Title_1WlRE,
.standardtemplates_StandardTemplateContainer_1adpx .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Title_1WlRE, /* titles */
.standardtemplates_StandardTemplateContainer_1adpx .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Icon_19g_L,
.standardtemplates_StandardTemplateContainer_1adpx .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Icon_19g_L /* icon */ {
    color: var(--capyQAM_mainTextColor);
}

/* Notification title & icon, selected */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Title_1WlRE,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Title_1WlRE, /* titles */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Icon_19g_L,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Icon_19g_L /* icon */ {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Notification description, regular (e.g. Friend Status > friend's name) */
.standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationDescription_1Ldq1, .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationDescription_1Ldq1 {
    color: var(--capyQAM_mainTextColor);
}

/* Notification description, selected (e.g. Friend Status > friend's name) */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationDescription_1Ldq1,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationDescription_1Ldq1 {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Notification subtext, regular (e.g. Friend Status > "Playing: ..." text) */
.standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationSubText_2XcN2, .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationSubText_2XcN2 {
    color: var(--capyQAM_mainTextColor);
}

/* Notification subtext, selected (e.g. Friend Status > "Playing: ..." text) */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationSubText_2XcN2,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationSubText_2XcN2 {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Timestamp, regular (e.g. Friend Status, Wishlist Sale, ...) */
.standardtemplates_StandardTemplate_3e_DB .standardtemplates_Timestamp_2vSvC, .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Timestamp_2vSvC,
.notificationcontent_Timestamp_3q7nN /*, .notificationcontent_TimestampDesktop_1N5mc */ {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

/* Timestamp, selected (e.g. Friend Status, Wishlisht Sale, ...) */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Timestamp_2vSvC,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Timestamp_2vSvC,
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .notificationcontent_Timestamp_3q7nN
/*, .standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .notificationcontent_TimestampDesktop_1N5mc */ {
    color: var(--capyQAM_hl_mainTextColor);
    filter: opacity(0.6);
}

/* Wishlist Sale, price text, regular */
.standardtemplates_StandardNotificationSubText_2XcN2 span {
    color: var(--capyQAM_mainTextColor) !important;
    font-weight: bold;
}
/* Wishlist Sale, price text, selected */
.standardtemplates_StandardTemplateContainer_1adpx.gpfocus.gpfocuswithin .standardtemplates_StandardNotificationSubText_2XcN2 span {
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Friend Status > add shadow to game title to prevent readability issues */
.notificationcontent_FriendInGameAppColor_3uw_G {
    text-shadow: .5px .5px 0px rgba(0, 0, 0, 0.6);
}



/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */



/* ---
Some (if not all) CSS classes below may be deprecated due to latest Steam client update, further testing is needed
--- */



/* Pinned label e.g. new item in inventory */
.notificationcontent_StandardTemplate_5HZT7.gpfocus, .notificationcontent_PinnedTemplate_1X-O1.gpfocus {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
    animation: none;
}

/* Achievements */
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: var(--capyQAM_mainTextColor);
}
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: var(--capyQAM_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, no highlight */ {
    color: var(--capyQAM_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, no highlight */ {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
    filter: opacity(0.6);
}