/* ---
CapyMenu QAM
v2.1
By Capybara / Kalyvara

Remote play
--- */



/* Background and shadow removal for title */
.remoteplay_QuickAccessContainer_3Moue .remoteplay_QuickAccessTitle_2dcwM {
    background: none;
    box-shadow: none;
}
.remoteplay_QuickAccessTitle_2dcwM {
    color: var(--capyQAM_mainTextColor);
}

/* Remote play icons */
.remoteplay_PlayerControls_3IoOu svg path {
    fill: var(--capyQAM_mainTextColor);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin .remoteplay_QuickAccessPlayerControlsContainer_RNCoe .remoteplay_PlayerControls_3IoOu svg path {
    fill: var(--capyQAM_hl_mainTextColor);
}

/* Share URL */
.remoteplay_QuickAccessConnectURL_H2sUm {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.8);
}
.gpfocus .remoteplay_QuickAccessConnectURL_H2sUm {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(1);
}

/* Controllers */
.remoteplay_QuickAccessControllerOrderContainer_2xZxy .remoteplay_Divider_1D4hg {
    visibility: hidden;
}
svg.remoteplay_Controller_1Kwg5.remoteplay_SlotFilled_xQywn path {
    fill: var(--capyQAM_mainTextColor);
}
.remoteplay_QuickAccessControllerOrderSlot_bA_5P:not(.remoteplay_SlotFilled_xQywn)>svg {
    color: var(--capyQAM_mainTextColor);
}

/* Controllers, highlight */
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin svg.remoteplay_Controller_1Kwg5.remoteplay_SlotFilled_xQywn path {
    fill: var(--capyQAM_mainTextColor);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin .remoteplay_QuickAccessControllerOrderSlot_bA_5P:not(.remoteplay_SlotFilled_xQywn)>svg {
    color: var(--capyQAM_mainTextColor);
}