/* ---
CapyMenu QAM
v2.0
By Capybara/Kalyvara
--- */



/* ---

Changelog

[v2.0]

- cleaner/more consistent UI overhaul (removed clutter, good amount of color corrections, new themed components)
- removed Colored Toggles dependency to allow more flexbility as it themes extra UI components (e.g. Friends badge), customization for toggles and sliders is now limited to the QAM
- added an option to customize the vertical separator between tabs column and main panel
- fixed custom colors not registering for label separators
- additional bug fixes (most notable is buggy highlighted buttons in some menus, e.g. Decky plugins, Remote Play Together section)

- ALL the CSS variables were renamed as more explicit names, also should avoid possible conflicts with other themes
- CSS code is more organized

[v1.1]
- unreleased, intended for personal use, some big features ported over v2.0 release

[v1.0]
- initial submission

--- */



:root {
    --capyQAM_toggleAnimation: none;
}

@keyframes capyQAM_animToggleGradient { /* from Colored Toggles by SuchMeme */
    0% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 300% 300%;
    }
    100% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
}



/* ---
Global values
--- */

/* Header line, footer line, whole QAM panel */
.quickaccessmenu_HeaderAndFooterVisible_2m0zl .quickaccessmenu_Menu_1gJzx::before,
.quickaccessmenu_HeaderAndFooterVisible_2m0zl .quickaccessmenu_Menu_1gJzx::after,
.quickaccessmenu_QuickAccessMenu_V0cr- {
    background: none;
}
/* Footer, header (only visible in-game) - fixes transparent background */
.footer_BasicFooter_3T1iF.footer_QuickAccessFooter_VdbQ_, .quickaccessmenu_HeaderContainer_3k5MH {
    background: rgba(var(--capyQAM_headerFooterBgColor), var(--capyQAM_headerFooterOpacity));
}
/* Footer, header text (only visible in-game) */
.header_HeaderItem_2HnVd, .actionbuttonlegenditem_ActionButtonLegend_Mbyhb .actionbuttonlegenditem_ActionButtonLabel_31Jnn {
    color: var(--capyQAM_headerFooterTextColor);
}

/* Panel separator (between side tabs and main panel), hide by default, togglable */
.quickaccessmenu_Tabs_3Ag1w::after {
    visibility: hidden;
}

/* Main panel on the right */
.quickaccessmenu_PanelOuterNav_2BB6u {
    background: rgba(var(--capyQAM_mainPanelBg), var(--capyQAM_mainPanelOpacity));
}

/* Background and shadow removal for titles */
.quickaccessmenu_Title_34nl5 {
    background: none;
    box-shadow: none;
}

/* Separator between labels */
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after {
    background: rgba(var(--capyQAM_separatorColor), var(--capyQAM_separatorOpacity));
}

/* Label in main panel */
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, 
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
    animation: none;
}

/* Text in main panel */
.quickaccesscontrols_Text_1hJkB, 
.quickaccessmenu_Title_34nl5, 
.gamepaddialog_FieldLabel_3b0U-, 
.perf_Text_3gY4m,
.quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.gamepadslider_Icon_21uKi
{
    color: var(--capyQAM_mainTextColor);
}

/* Label description */
.gamepaddialog_Field_S-_La .gamepaddialog_FieldDescription_2OJfk
{
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

/* Text in main panel (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldLabel_3b0U-, 
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk,
.gamepaddialog_Field_S-_La.gpfocuswithin .perf_Text_3gY4m,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedValue_1mTo6,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedLabel_4hS40,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_Icon_21uKi
{
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* Containers text color */
.quickaccessmenu_Container_3DHXr.quickaccessmenu_Open_-6ESh {
    color: var(--capyQAM_mainTextColor);
}
.DialogToggle_Label {
    color: var(--capyQAM_mainTextColor);
}

/* Checkmark */
.DialogCheckbox.Active .SVGIcon_DialogCheck path {
    stroke: var(--capyQAM_mainTextColor);
}

/* Notification dot */
div[style="position: absolute; top: -5px; right: -5px; height: 10px; width: 10px; background: orange; border-radius: 50%;"],
div[style="position: absolute; top: 8px; right: 8px; height: 10px; width: 10px; background: orange; border-radius: 50%;"] {
    background: var(--capyQAM_notifDot) !important;
}

/* ---
Tabs list
--- */

/* Tabs column */
.quickaccessmenu_Tabs_3Ag1w {
    background: rgba(var(--capyQAM_tabsColmnColor), var(--capyQAM_tabsColmnOpacity));
}

/* Tabs background */
.quickaccessmenu_Tab_1S76C {
    background: rgba(var(--capyQAM_tabsBgColor), var(--capyQAM_tabsBgOpacity));
}

/* Tabs background (highlight, focus) */
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu, .quickaccessmenu_Tab_1S76C.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_tabsBgColor), 255) !important;
    animation: none;
}

/* Tabs icon */
.quickaccessmenu_Tab_1S76C svg {
    color: var(--capyQAM_tabIcon);
}

/* Tabs icon (highlight, focus) */
.gpfocus.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu::before /* highlight */, .quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu svg /* focus */ {
    color: var(--capyQAM_hl_tabIcon) !important;
}

/* Same thing for keyboard button that appears in-game */
.quickaccessmenu_KeyboardButton_1RN_U.gpfocus {
    animation: none; /* removes the grayish blue overlay when hovering */
}
/* Border around the keyboard button */
.quickaccessmenu_KeyboardButton_1RN_U {
    border: none;
}
.quickaccessmenu_KeyboardButton_1RN_U {
    background: rgba(var(--capyQAM_tabsBgColor), var(--capyQAM_tabsBgOpacity));
}
.quickaccessmenu_KeyboardButton_1RN_U svg {
    color: var(--capyQAM_tabIcon);
}
.quickaccessmenu_KeyboardButton_1RN_U.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_tabsBgColor), 255);
}
.quickaccessmenu_KeyboardButton_1RN_U.gpfocus.gpfocuswithin svg {
    color: var(--capyQAM_hl_tabIcon);
}

/* ---
Notifications
--- */

/* Separators */
.notificationcontent_StandardTemplate_5HZT7:not(:focus)+.notificationcontent_StandardTemplate_5HZT7:not(:focus):before, .notificationcontent_StandardTemplate_5HZT7:not(:focus)+.notificationcontent_PinnedTemplate_1X-O1:not(:focus):before, .notificationcontent_PinnedTemplate_1X-O1:not(:focus)+.notificationcontent_StandardTemplate_5HZT7:not(:focus):before, .notificationcontent_PinnedTemplate_1X-O1:not(:focus)+.notificationcontent_PinnedTemplate_1X-O1:not(:focus):before {
    border-bottom: none;
}

/* Pinned label e.g. new item in inventory */
.notificationcontent_StandardTemplate_5HZT7.gpfocus, .notificationcontent_PinnedTemplate_1X-O1.gpfocus {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
    animation: none;
}

/* No new notifications text */
.quickaccesscontrols_EmptyNotifications_1g1_n {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

/* Label */
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
}

/* Achievements */
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: var(--capyQAM_mainTextColor);
}
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: var(--capyQAM_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, no highlight */ {
    color: var(--capyQAM_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, no highlight */ {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
    filter: opacity(0.6);
}

/* Friends status notification container, highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity)) !important;
}

/* Icon, friends status, username texts */
.notificationcontent_Header_1KnyC .notificationcontent_Title_3qzN6,
.notificationcontent_Header_1KnyC .notificationcontent_Icon_opgc6 svg,
.notificationcontent_StandardTemplate_5HZT7 .notificationcontent_StandardNotificationDescription_zB56A {
    color: var(--capyQAM_mainTextColor);
}

/* "Playing" text */
.notificationcontent_Body_2RpDR .notificationcontent_StandardNotificationSubText_EVwRp {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.8);
}

/* Current friend's game text */
.notificationcontent_Body_2RpDR .notificationcontent_StandardNotificationSubText_EVwRp .notificationcontent_FriendInGameAppColor_3uw_G {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* Timestamp, timestamp highlight */
.notificationcontent_Header_1KnyC .notificationcontent_Timestamp_3q7nN {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Timestamp_3q7nN {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Username, playing texts highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_StandardNotificationSubText_EVwRp,
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_StandardNotificationDescription_zB56A
{
    color: var(--capyQAM_hl_mainTextColor);
}

/* Notif title & icon, highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Title_3qzN6,
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Icon_opgc6 svg {
    color: var(--capyQAM_hl_mainTextColor);
}

/* ---
Remote play
--- */

/* Background and shadow removal for title */
.remoteplay_QuickAccessContainer_3Moue .remoteplay_QuickAccessTitle_2dcwM {
    background: none;
    box-shadow: none;
}
.remoteplay_QuickAccessTitle_2dcwM {
    color: var(--capyQAM_mainTextColor);
}

/* Remote play icons */
.remoteplay_PlayerControls_3IoOu svg path {
    fill: var(--capyQAM_mainTextColor);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin .remoteplay_QuickAccessPlayerControlsContainer_RNCoe .remoteplay_PlayerControls_3IoOu svg path {
    fill: var(--capyQAM_hl_mainTextColor);
}

/* Remote play share URL */
.remoteplay_QuickAccessConnectURL_H2sUm {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.8);
}
.gpfocus .remoteplay_QuickAccessConnectURL_H2sUm {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(1);
}

/* Remote play controllers */
.remoteplay_QuickAccessControllerOrderContainer_2xZxy .remoteplay_Divider_1D4hg {
    visibility: hidden;
}
svg.remoteplay_Controller_1Kwg5.remoteplay_SlotFilled_xQywn path {
    fill: var(--capyQAM_mainTextColor);
}
.remoteplay_QuickAccessControllerOrderSlot_bA_5P:not(.remoteplay_SlotFilled_xQywn)>svg {
    color: var(--capyQAM_mainTextColor);
}
/* Remote play controllers, highlights */
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin svg.remoteplay_Controller_1Kwg5.remoteplay_SlotFilled_xQywn path {
    fill: var(--capyQAM_mainTextColor);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_Clickable_27UVY.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocus.gpfocuswithin .remoteplay_QuickAccessControllerOrderSlot_bA_5P:not(.remoteplay_SlotFilled_xQywn)>svg {
    color: var(--capyQAM_mainTextColor);
}

/* ---
Performance
--- */

/* Performance profile text */
.perf_PerfProfileInfoBasic_1nXii {
    color: var(--capyQAM_mainTextColor);
}
/* Performance projected value */
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedValue_1mTo6 {
    color: var(--capyQAM_mainTextColor);
}
/* Performance projected text */
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedLabel_4hS40 {
    color: var(--capyQAM_mainTextColor);
}
/* Performance settings text */
.perf_PerfProfileInfo_1UqP6 .perf_Heading_23Yxa .perf_Text_3gY4m {
    color: var(--capyQAM_mainTextColor);
}
/* Profile used text */
.perf_PerfProfileInfo_1UqP6 .perf_SubHeading_2C4wP .perf_Text_3gY4m {
    color: var(--capyQAM_mainTextColor);
}

/* Performance tab separator / bottom line */
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorThick_28hmy::after {
    background: none;
}

/* Battery icon outline */
.quickaccesscontrols_BatteryIcon_39aNh svg {
    color: var(--capyQAM_mainTextColor);
}

/* ---
Buttons, sliders, toggles, etc.
--- */

/* Sliders */
.gamepaddialog_ToggleRail_2JtC3::before {
	background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
}
.gamepadslider_SliderTrack_Mq25N::before {
    background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
}

/* Ticks */
div .gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
	background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
} 

/* Dropdown button / highlight */
button.gamepaddialog_Button_1kn70.DialogButton, button.gamepaddialog_Button_1kn70.DialogButton:enabled {
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}
button.gamepaddialog_Button_1kn70.DialogButton.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus {
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}
/* Textarea */
.gamepadslider_EditableValue_2DXnl, .gamepadslider_FakeEditableValue_1-lyB {
    background: var(--capyQAM_ddButtonBg);
    color: var(--capyQAM_ddButtonText);
    filter: opacity(0.8);
}

/* Slider tick text */
.gamepadslider_SliderNotch_3x6ve {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
/* Slider tick text (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderNotch_3x6ve {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Slider empty area and inactive ticks */
.gamepaddialog_Field_S-_La .gamepadslider_SliderTrack_Mq25N, .gamepaddialog_Field_S-_La .gamepadslider_SliderNotchTick_Fv1Ht {
    background: rgba(255, 255, 255, 0.2);
    filter: brightness(0.9);
}

/* Slider and ticks (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderTrack_Mq25N, .gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderNotchTick_Fv1Ht {
    filter: brightness(0.8);
}

/* Toggle empty area */
.gamepaddialog_ToggleRail_2JtC3 {
    background: rgba(255, 255, 255, 0.2);
    filter: brightness(0.7);
}
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_ToggleRail_2JtC3 {
    background: rgba(255, 255, 255, 0.2);
    filter: brightness(0.6);
}

/* Toggle highlight outline */
.gamepaddialog_Toggle_24G4g.gpfocus:after {
    background: rgba(255, 255, 255, 0.2);
    filter: brightness(0.4);
}

/* ---
Decky plugins
--- */

/* Decky header button */
.quickaccessmenu_Title_34nl5 .gamepaddialog_Button_1kn70
{
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}
/* Decky header button (highlight) */
.quickaccessmenu_Title_34nl5 .gpfocuswithin.gamepaddialog_Button_1kn70
{
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}
