.backgroundglass_Blur_N9sQL {
    backdrop-filter: blur(var(--betterBlur-strength)) !important;
}

.backgroundglass_DrawBackground_2NQoF {
    background: rgba(7, 9, 13, var(--betterBlur-opacity)) !important;
}

.gamepadui_GamepadDialogOverlay_34Euf .ModalOverlayBackground {
    backdrop-filter: blur(var(--betterBlur-strength)) !important;
    background: rgba(7, 9, 13, var(--betterBlur-opacity)) !important;
}
