[Desktop Entry]
Type=Application
Name=com.bitwarden.desktop
X-XDP-Autostart=com.bitwarden.desktop
Exec=flatpak run com.bitwarden.desktop
X-Flatpak=com.bitwarden.desktop
