[Desktop Entry]
Path=/var/home/zany130/.local/bin
Type=Application
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Exec=/var/home/zany130/.local/bin/HeadsetControl-GUI --tray
Name=HeadsetControl-GUI
Icon=HeadsetControl-GUI
Comment=Auto-starts HeadsetControl-GUI on boot
