[Desktop Entry]
Categories=Utility;
Comment[en_US]=OpenRGB 0.9+ (1.0rc2), for controlling RGB lighting.
Comment=OpenRGB 0.9+ (1.0rc2), for controlling RGB lighting.
Exec=/home/zany130/.local/bin/openrgb --client localhost:6742 --startminimized --profile MyRGB --server
GenericName[en_US]=
GenericName=
Icon=OpenRGB
MimeType=
Name[en_US]=OpenRGB
Name=OpenRGB
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
