[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud_082454.appimage
Comment=pcloud_082454.appimagestartup script
Exec=/var/home/zany130/AppImages/pcloud_082454.appimage
StartupNotify=false
Terminal=false