[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/var/home/zany130/Applications/pcloud/pcloud
StartupNotify=false
Terminal=false