[Desktop Entry]
Type=Application
Name=pCloud Drive
Comment=Cloud storage service for your files
Exec="/home/zany130/.config/pcloud/pcloud-launcher.sh"
Icon=appimagekit-pcloud
StartupWMClass=pcloud
Terminal=false
Categories=Network;FileTransfer;
StartupNotify=false
X-GNOME-Autostart-enabled=true
