[Desktop Entry]
Categories=Network;P2P;FileTransfer;
Comment[en_US]=Fast and Simple Downloader
Comment=Fast and Simple Downloader
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.github.gabutakut.gabutdm --file-forwarding com.github.gabutakut.gabutdm -s @@u %U @@
GenericName[en_US]=Gabut Download Manager
GenericName=Gabut Download Manager
Icon=com.github.gabutakut.gabutdm
Keywords=Torrent;Bittorrent;Magnetlink;Metalink;Download;
MimeType=application/x-bittorrent;application/metalink+xml;
Name[en_US]=Gabut Download Manager
Name=Gabut Download Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=com.github.gabutakut.gabutdm
X-KDE-SubstituteUID=false
X-KDE-Username=
