[Desktop Entry]
Categories=Network;System;
Comment=Easy automated syncing between your computers and your MEGA cloud drive.
Exec=/home/zany130/.local/bin/megasync
GenericName=File Synchronizer
Icon=/var/home/zany130/Applications/megasync/icons/megasync
Name=MEGAsync
StartupNotify=false
Terminal=false
TryExec=/home/zany130/.local/bin/megasync
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=60
