[Desktop Entry]
Actions=Chat;Settings;Theme;Lock;About;
Categories=Chat;Network;InstantMessaging;Qt;
Comment=A WhatsApp Web Client using the QT framework
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie --file-forwarding com.ktechpit.whatsie @@u %u @@
GenericName=Qt WhatsApp Web Client
Icon=com.ktechpit.whatsie
Keywords=WhatSie;WhatsApp;
MimeType=x-scheme-handler/whatsapp;
Name=WhatSie
StartupNotify=true
StartupWMClass=whatsie
Terminal=false
Type=Application
X-Flatpak=com.ktechpit.whatsie
X-GNOME-UsesNotifications=true

[Desktop Action About]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie com.ktechpit.whatsie -i
Name=About

[Desktop Action Chat]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie com.ktechpit.whatsie -n
Name=New Chat

[Desktop Action Lock]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie com.ktechpit.whatsie -l
Name=Lock

[Desktop Action Settings]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie com.ktechpit.whatsie -s
Name=Settings

[Desktop Action Theme]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=whatsie com.ktechpit.whatsie -t
Name=Toggle theme
