[Desktop Entry]
Categories=Utility;
Comment=
Exec=/home/zany130/AppImages/onedrivegui.appimage
Icon=/home/zany130/AppImages/.icons/onedrivegui.png
Name=OneDriveGUI
Terminal=false
TryExec=/home/zany130/AppImages/onedrivegui.appimage
Type=Application
X-AppImage-Arch=x86_64
X-AppImage-Name=OneDriveGUI
X-AppImage-Version=1.0.3
