[Desktop Action PauseAllDevs]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray pause --all-devs
Name=Pause all devices (of local Syncthing instance)

[Desktop Action RescanAll]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray rescan-all
Name=Rescan all folders (of local Syncthing instance)

[Desktop Action Restart]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray restart
Name=Restart Syncthing (local instance)

[Desktop Action ResumeAllDevs]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingctl io.github.martchus.syncthingtray resume --all-devs
Name=Resume all devices (of local Syncthing instance)

[Desktop Action ShowSyncthing]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingtray io.github.martchus.syncthingtray qt-widgets-gui --webui
Name=Show Syncthing (currently selected instance)

[Desktop Action ShowTrayMenu]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingtray io.github.martchus.syncthingtray qt-widgets-gui --trigger
Name=Show tray menu

[Desktop Entry]
Actions=ShowTrayMenu;ShowSyncthing;RescanAll;PauseAllDevs;ResumeAllDevs;Restart
Categories=Network;FileTransfer
Comment=Tray application for Syncthing
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=syncthingtray io.github.martchus.syncthingtray
GenericName=Syncthing Tray
Icon=io.github.martchus.syncthingtray
Name=Syncthing Tray
Terminal=false
Type=Application
X-Flatpak=io.github.martchus.syncthingtray
X-Flatpak-RenamedFrom=syncthingtray.desktop;
