[Desktop Entry]
Categories=Qt;KDE;System;
Comment=GUI for tailscale on the KDE Plasma desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=ktailctl org.fkoehler.KTailctl
Icon=org.fkoehler.KTailctl
Name=KTailctl
Terminal=false
Type=Application
Version=1.5
X-Flatpak=org.fkoehler.KTailctl
