[Desktop Entry]
Categories=Utility;
Comment=Control RGB lighting
Encoding=UTF-8
Exec=/home/zany130/AppImages/openrgb_8682f8.appimage
Icon=/home/zany130/AppImages/.icons/openrgb_8682f8.png
Name=OpenRGB
Terminal=false
TryExec=/home/zany130/AppImages/openrgb_8682f8.appimage
Type=Application
X-AppImage-Version=8682f8
