[Desktop Entry]
Categories=Network;
Comment[en_US]=
Comment=
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=startvesktop dev.vencord.Vesktop --enable-blink-features=MiddleClickAutoscroll --start-minimized
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=dev.vencord.Vesktop
Keywords=discord;vencord;electron;chat;
MimeType=
Name[en_US]=Vesktop
Name=Vesktop
Path=
StartupNotify=true
StartupWMClass=Vesktop
Terminal=false
TerminalOptions=
Type=Application
X-AppImage-Version=1.5.3
X-Desktop-File-Install-Version=0.27
X-Flatpak=dev.vencord.Vesktop
X-KDE-SubstituteUID=false
X-KDE-Username=
