[Desktop Entry]
Categories=Graphics;Qt;
Comment[en_US]=Wallpaper manager for Wayland
Comment=Wallpaper manager for Wayland
Exec=/home/zany130/AppImages/waywallen.appimage --no-ui
GenericName[en_US]=Wallpaper Manager for Linux
GenericName=Wallpaper Manager for Linux
Icon=/home/zany130/AppImages/.icons/waywallen
Keywords=wallpaper;pipewire;vulkan;
MimeType=
Name[en_US]=Waywallen
Name=Waywallen
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/home/zany130/AppImages/waywallen.appimage
Type=Application
X-AppImage-Name=Waywallen
X-KDE-SubstituteUID=false
X-KDE-Username=
