[Desktop Action RunInTerminal]
Exec=gio launch /usr/share/applications/sunshine_terminal.desktop
Icon=application-x-executable
Name=Run in Terminal

[Desktop Entry]
Actions=RunInTerminal;
Categories=AudioVideo;Network;RemoteAccess;
Comment=Self-hosted game stream host for Moonlight
Exec=/usr/bin/env systemctl start --u sunshine
Icon=sunshine.svg
Keywords=gamestream;stream;moonlight;remote play;
Name=Sunshine
Type=Application
Version=1.0
