[Desktop Entry]
Categories=Utility;GTK;
Comment[en_US]=Logitech Unifying Receiver peripherals manager
Comment=Logitech Unifying Receiver peripherals manager
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=solaar io.github.pwr_solaar.solaar -w hide
GenericName[en_US]=
GenericName=
Icon=io.github.pwr_solaar.solaar
Keywords=logitech;unifying;receiver;mouse;keyboard;
MimeType=
Name[en_US]=Solaar
Name=Solaar
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=io.github.pwr_solaar.solaar
X-Flatpak-RenamedFrom=solaar.desktop;
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
