[Desktop Entry]
Exec=flatpak run --command=gearlever it.mijorus.gearlever --fetch-updates
Name=it.mijorus.gearlever
Type=Application
X-Flatpak=it.mijorus.gearlever
