[Desktop Entry]
Categories=Utility;
Comment=Phone as macro shortcut for your computer in easy way possible.
Exec=/home/zany130/.local/bin/deckboard --no-sandbox %U
Icon=/var/home/zany130/Applications/deckboard/icons/deckboard
MimeType=x-scheme-handler/com-rivafarabi-deckboard;
Name=Deckboard
StartupWMClass=deckboard
Terminal=false
Type=Application
X-AppImage-Version=3.1.2
