[Desktop Entry]
Categories=Network;
Comment[en_US]=A fork of Vesktop pre-packaged with Equicord
Comment=A fork of Vesktop pre-packaged with Equicord
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=startequibop --file-forwarding io.github.equicord.equibop --start-minimized @@u %U @@
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=io.github.equicord.equibop
Keywords=discord;equibop;vesktop;vencord;equicord;electron;chat;
MimeType=
Name[en_US]=Equibop
Name=Equibop
Path=
StartupNotify=true
StartupWMClass=equibop
Terminal=false
TerminalOptions=
Type=Application
X-AppImage-Version=2.1.6
X-Desktop-File-Install-Version=0.28
X-Flatpak=io.github.equicord.equibop
X-KDE-SubstituteUID=false
X-KDE-Username=
