/* Verified Badges */
.shared_svg_library_SteamDeckCompatInfo_2LcFI {
	backdrop-filter: blur(8px);
	background-color: #0e141b87;
}

.shared_svg_library_SteamDeckCompatIcon_2hEWY,
.shared_svg_library_SteamDeckCompatLogo_Tplfb {
	opacity: 0.65;
}

/* In Library Badge */
.gamecapsule_InLibrary_fyHna {
	backdrop-filter: blur(8px);
	background-color: #4f95bd80;
}
