[Desktop Entry]
Name=wallpaper_engine
Comment=Play this game on Steam
Exec=steam steam://rungameid/431960
Icon=/home/zany130/.config/steamtinkerlaunch/games/header/431960.jpg
Terminal=false
Type=Application
Categories=Game;
