[Desktop Entry]
Name=8BitB
Comment=Play this game on Steam
Exec=steam steam://rungameid/567090
Icon=/home/zany130/.config/steamtinkerlaunch/games/header/567090.jpg
Terminal=false
Type=Application
Categories=Game;
