[Desktop Entry]
Name=Hogwarts Legacy
Comment=Play this game on Steam
Exec=steam steam://rungameid/990080
Icon=/home/zany130/.config/steamtinkerlaunch/games/header/990080.jpg
Terminal=false
Type=Application
Categories=Game;
