._23IDiI-F_FxXotrgpY71r8 {
  background: #221d2d;
  margin-top: 0;
}
._2w9TpQwxU7vcwaAbf3KGv_ {
  margin: 0 10px !important;
}
._2w9TpQwxU7vcwaAbf3KGv_.gpfocus.gpfocuswithin,
._2w9TpQwxU7vcwaAbf3KGv_:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transform: scale(1);
}
._23IDiI-F_FxXotrgpY71r8:not(._1ABsh9UL8DKM0rWJXep1tc) ._2w9TpQwxU7vcwaAbf3KGv_._10bq5BppQ3fcLqTNXms8yA:focus {
  transform: scale(1);
}
