.V0cr-SAnDhzAWmPZdrJQJ,
._34nl5vUoFCDYYnmHNL7axB,
.GamepadMode.friendlist {
  background: #221d2d;
  box-shadow: none;
}

.Mq25Nap224hVdTdtXSsnq::before,
._2JtC3JSLKaOtdpAVEACsG1::before {
  background: #ddd;
}

button._1kn7017HPxqS3NKx_wnI4e.DialogButton,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton.Primary,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled.Primary,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:active,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:active.Primary,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled:active:hover,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled:active:hover.Primary {
  background: linear-gradient(180deg, rgba(242, 235, 255, 0.16) 0%, rgba(242, 235, 255, 0.08) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

button._1kn7017HPxqS3NKx_wnI4e.DialogButton.gpfocus,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:active,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled.gpfocus,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled:active,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:active.gpfocus,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:active:active,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled:active:hover.gpfocus,
button._1kn7017HPxqS3NKx_wnI4e.DialogButton:enabled:active:hover:active {
  background: linear-gradient(180deg, #f2ebff 24.09%, #e5d6ff 100%);
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 40%);
  color: #444;
}
