[Desktop Entry]
Charset=
Hidden=false
Keys=flatpakdoc,docsflatpak
Name=Flatpak Documentation
Query=https://docs.flatpak.org/en/latest/search.html?q=\\{@}&check_keywords=yes&area=default
Type=Service
