[Desktop Entry]
Charset=
Hidden=false
Keys=archpkg,apkg
Name=Arch Linux Package Search
Query=https://www.archlinux.org/packages/?q=\\{@}
Type=Service
