[Desktop Entry]
Charset=
Hidden=false
Keys=rf,rpmfind,rpm
Name=RPM-Find
Query=https://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Type=Service
