.virtualkeyboard_Keyboard_45rH7 {
    --background-color: var(--DELLY-keyboard-bg);
    --key-color: var(--DELLY-keyboard-text-color);
    --key-background-color: var(--DELLY-keyboard-fr);
    --key-focused-background-color: var(--DELLY-keyboard-fr-active);
    --key-focused-color: var(--DELLY-keyboard-color);
    --key-spacebar-background-color: var(--DELLY-keyboard-fr);
    --key-backspace-background-color: var(--DELLY-keyboard-fr-active);
    --key-enter-background-color: var(--DELLY-keyboard-fr-active);
    --key-shift-background-color: var(--DELLY-keyboard-fr-active);
    --key-meta-background-color: var(--DELLY-keyboard-fr-active);
    --key-caps-background-color: var(--DELLY-keyboard-fr-active);
    --key-tab-background-color: var(--DELLY-keyboard-fr-active);
    --key-action-button-glyph-color: var(--DELLY-keyboard-text-color);
    --key-focused-action-button-left-color: var(--DELLY-keyboard-text-color);
    --key-focused-action-button-right-color: var(--DELLY-keyboard-text-color);
    --key-shift-label-color: var(--DELLY-keyboard-shifted-text-color);
    --key-focused-shift-label-color: var(--DELLY-keyboard-shifted-text-color);
    --key-toggleon-background-color: var(--DELLY-keyboard-fr);
    --key-toggleon-color: var(--DELLY-keyboard-text-color);

    --key-pointer-background-color: var(--DELLY-keyboard-text-color);
    --key-pointer-stroke-color: transparent;
}

.virtualkeyboard_KeyboardRightShift_iMZ3T.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardLeftShift_2ye7Y.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardBackspace_3LsB3.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardEnter_IunX6.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardMetaKey_1WbIj.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardTabKey_3Gfcs.virtualkeyboard_Focused_21EoN,
.virtualkeyboard_KeyboardCapsKey_NGv5F.virtualkeyboard_Focused_21EoN {
    background-color: var(--DELLY-keyboard-fr);
}

.virtualkeyboard_KeyboardKey_2KhPX {
    border-radius: 5px;
    box-shadow: 0px 1px 0 var(--DELLY-keyboard-shadow);
}

.virtualkeyboard_KeyboardKey_2KhPX span {
    color: var(--DELLY-keyboard-text-color);
}

.virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background: var(--DELLY-keyboard-fr-active) !important;
}

.virtualkeyboard_TouchpadPointer_jfjnA {
    backdrop-filter: blur(10px);
    background: var(--DELLY-keyboard-text-color);
    border-radius: 50%;
}