#header_profile {
    padding-right:18px;
    padding-left:8px;
}

#header_profile .avatarStatus {
    top: 12px;
    right: -18px;

    width:8px;
    height:8px;

    border-radius: 100%;

    box-shadow: 2px 2px 10px 1px #00000054;
}