#header_profile {
    padding-right:0px;
    padding-left:6px;
}

#header_profile .avatar{
    box-shadow:none;

    border-radius: 100%;
}

#header_profile .avatarFrame {
    display:none;
}

#header_profile .avatarStatus {
    width:0px;
}