:root {
	--ren-reflection-gradient: #ffffff00 30%;
	--ren-reflection-focused-opacity: .5;
	--ren-reflection-unfocused-opacity: .3;
	--ren-reflection-blur: 2px;
}

.ReactVirtualized__Grid__innerScrollContainer 
.libraryassetimage_Container_1R9r2.basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
	opacity:var(--ren-reflection-unfocused-opacity);
	filter:none;
	width:100%;
	height:199.5px;
	top:199.5px;
	transform:scaleX(1) scaleY(-1);
	-webkit-mask-image: linear-gradient(to top,white, var(--ren-reflection-gradient));
	transition: filter,box-shadow,transform .1s cubic-bezier(0.16, 0.86, 0.43, 0.99);
	filter:blur(var(--ren-reflection-blur));
}


.ReactVirtualized__Grid__innerScrollContainer div.gpfocuswithin
.libraryassetimage_Container_1R9r2.basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
	opacity:var(--ren-reflection-focused-opacity);
	transform:scaleX(1.05) scaleY(-1.05) translateY(-9.5px);
	transition-duration: .4s;
	transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
}

.ReactVirtualized__Grid__innerScrollContainer >div:nth-child(1).gpfocuswithin
.libraryassetimage_Container_1R9r2.basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf
{
	transform:scaleX(1.025) scaleY(-1.05) translateY(-6.5px);
}