[Unit]
Description=headless apps to run in gamescope session
After=openrgb.service
Requires=openrgb.service

[Service]
Type=forking
ExecStart=/home/zany130/Scripts/startGamescopeAppsBazzite.sh
