[Unit]
Description="Goldwarden daemon"
After=graphical-session.target

[Service]
ExecStart=/app/bin/goldwarden daemonize

[Install]
WantedBy=graphical-session.target
