[Unit]
Description=Headsetcontrol-Notificationd

[Service]
ExecStart=/var/home/zany130/.local/bin/headsetcontrol-notificationd
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
