[Unit]
Description=Homebrew generated unit for syncthing

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart="/home/linuxbrew/.linuxbrew/opt/syncthing/bin/syncthing" "--no-browser" "--no-restart"
Restart=on-failure
StandardOutput=append:/home/linuxbrew/.linuxbrew/var/log/syncthing.log
StandardError=append:/home/linuxbrew/.linuxbrew/var/log/syncthing.log
