/* for a list of all available variable names, check global.css */

:root {
	/* standard buttons */
	--zbpg-face-up:  url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/shared_button_x.svg");
	--zbpg-face-dn:  url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/shared_button_b.svg");
	--zbpg-face-lf:  url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/shared_button_y.svg");
	--zbpg-face-rt:  url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/shared_button_a.svg");
	--zbpg-menu-srt: url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/sd_button_plus.svg");
	--zbpg-menu-slc: url("/themes_custom/Button%20Prompts%20Galore/nsx/imgs/sd_button_minus.svg");
}
